<h1>Ballparks API</h1>

<p>This is a RESTful JSON API for Ballpark's. It exposes the following endpoints:</p>

<ul>
  <li>
    <%= link_to "#get-ballpark" do %>
      <code>GET /ballparks</code>
    <% end %>
  </li>
</ul>

<h2 id="#get-ballparks">GET /ballparks</h2>
